<?xml version="1.0"?>
<!--
/**
 * Admin route for AI Product Description.
 *
 * @category  Mnaeem
 * @package   Mnaeem_AiProductDescription
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="mnaeem_aiproductdescription" frontName="mnaeem_aiproductdescription">
            <module name="Mnaeem_AiProductDescription" before="Magento_Backend"/>
        </route>
    </router>
</config>
